*.clang
*.swp
*notes.txt
*tags
.color_coded
compile_commands.json
prereqs.txt
scripts/ideal_random_walks/num_walks.arch
src/version.cpp
*__pycache__/
.cache/
.d/
archive/
bin/
build/
buildc/
dist/
localtests/
tests/data/
origamipy.egg-info/
