*.clang
*.swp
*.ycm_extra_conf.py*
*notes.txt
*tags
.color_coded
.prereqs.txt
.ycm_extra_conf.py*
compile_commands.json
prereqs.txt
scripts/ideal_random_walks/num_walks.arch
*__pycache__/
.cache/
.d/
.vim/
archive/
bin/
build/
buildc/
dist/
localtests/
tests/data/
origamipy.egg-info/
